@{
    ViewBag.Title = "Contoso";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Navigate using the navigation bar on the right to review and select your courses.
            </p>
        </div>
    </section>
}
<h3>In this site you can:</h3>
<ol class="round">
    <li class="one">
        <h5>Review your grades</h5>
        Check your grades in the student section.
    </li>

    <li class="two">
        <h5>Register for courses</h5>
        Make changes or confirm changes to your courses.
    </li>

    <li class="three">
        <h5>View your professors</h5>
        Find which dickbag will be teaching you this semester.
    </li>
</ol>
